/* Write your CSS here */
.btn {
  background-color: #f8fafc;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: #303150;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 20px;
  padding: 8px;
  width: 100%;
  max-width: 200px;
}
